{% extends 'book_reviews/layout.html' %}
{% block head %} {% endblock %}
{% block title %}Books Home{% endblock %}
{% block body %}
<br>
<div class="row">
    <h3 class="col-4">Welcome, {{request.session.alias}}!</h3>
    <div class="col-3"></div>
    <a href="/books/new" class="col-3">Add Book and Review</a>
    <a href="/users/logout" class="col-2">Logout</a>
</div>
<br>
<div class="row">
    <div class="col-6">
        <h4>Recent Book Reviews:</h4>
        <br>
        <div class="container">
            Book Name
            <div class="container">
                rating
                Review
                posted on
            </div>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-5">
        <h4>Other Books with Reviews:</h4>
        <br>
        <div class="container border border-dark">
            <!-- for book in books -->
            <a href="">Book Name</a>
            <!-- endfor -->
        </div>
    </div>
</div>
{% endblock %}